/*todo o site*/
* {
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url("../img/fundo.jpg");
  color: white;
  font-family: arial;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/*caixa de conteudo*/
.box {
  border-radius: 15px;
  border: 2px white solid;
  width: 400px;
  min-height: 440px;
  max-height: 600px;
  backdrop-filter: blur(20px);
}

/*titulos*/
h1 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

h2 {
  font-size: 16px;
  margin: 5px;
  margin-left: 10px;
}

/*inputs, select e caixa de texto*/
.questions {
  font-size: 16px;
  color: white;
  border-radius: 10px;
  border: 2px white solid;
  background-color: rgba(255, 255, 255, 0.01);
}

.box-questions {
  width: 100%;
  height: 60px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.area {
  width: 100%;
  display: flex;
  justify-content: center;
}

select {
  height: 40px;
  width: 380px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  
}

select option {
  color: #000;
}

option[value=""][disabled] {
  display: none;
}

input {
  display: block;
  height: 30px;
  width: 380px;
  margin: 10px;
  padding: 5px;
  padding-left: 10px;
}

textarea {
  height: 70px;
  padding: 10px;
  width: 360px;
  margin: 10px;
}

::-webkit-input-placeholder {
  color: white;
}

:-moz-placeholder {
  color: white;
}

::-moz-placeholder {
  color: white;
}

:-ms-input-placeholder {
  color: white;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(0.8) brightness(100%) sepia(100%) saturate(100%)
    hue-rotate(240deg);
}

input[type=submit] {
  height: 35px;
  margin-bottom: 20px;
  cursor: pointer;
}



